body {

   // background-color:green;
}


.row-css-custom{

    margin:20px;
    
}

.jumbo-css-custom{

    min-height: 250px;
    background-color:#CC3333;
}


#login{

    //top:10%;
    //left:70%;
   // outline:none;

}

#login.modal-dialog{

    width:200px;
}

.modal-dialog{

    width:200px;
}