body {

   // background-color:green;
}


.row-css-custom{

    margin:20px;
    
}

.jumbo-css-custom{

    min-height: 250px;
   // background-color:#CC3333;
    margin:20px;
}

.links-css-custom{

    //min-height: 250px;
   // background-color:#CC3333;
    margin-top:20px;
}

.overall-css-custom{

    background-color:#99FF66;
}

a:hover {
    background-color:black;
}



#login{

    //top:10%;
    //left:70%;
   // outline:none;

}

#login.modal-dialog{

  //  width:200px;
}

.modal-dialog{

    width:400px;
    height:400px;
}


#Square{
    width:200px;
    height:200px;
	background-color:#E0E0E0;
}

#Square2{
	
	width:200px;
    height:200px;
	background-color:#E0E0E0;	
}

.animate{
	
	transition: 2s ease-in-out;
	-webkit-transition: 2s ease-in-out;
}

#Square.animate{

	transform: translate(5em , 0);
	-webkit-transform: translate(10em , 0);
	
}
#Square2.animate{

	transform: translate(-10em , 0);
	-webkit-transform: translate(-10em , 0);
}

.min-height-img{

    min-height:50px;
    min-width:50px;

    max-height:150px;
    max-width:150px;

}

/*.animatepopup{
	
	transition: 2s ease-in-out;
	-webkit-transition: 2s ease-in-out;
}

#popupmenu.animatepopup{


}*/